In [3]:
print ("Hello")

Hello

# Input and Output
## Input and Output
### Input and Output
#### Input and Output
##### Input and Output
###### Input and Output

In [8]:
# Performing addition of two user given numbers
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1))
print (num2, type(num2))
total = num1 + num2  # string concatenation
print ("So the final sum is", total)
total = int(num1) + int(num2)  # algebraic addition
print ("So the final sum is", total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300

100 <class 'str'>
300 <class 'str'>
So the final sum is 100300
So the final sum is 400
End of the program...

In [7]:
# Performing addition of two user given numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1))
print (num2, type(num2))
total = num1 + num2  # string concatenation
print ("So the final sum is", total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  300

100 <class 'int'>
300 <class 'int'>
So the final sum is 400
End of the program...

In [10]:
# Performing addition of two user given numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
total = num1 + num2

Please enter the first number:  100
Please enter the second number:  500

In [27]:
print ("So the sum of", num1, "+", num2, "=", total)
print ("So the sum of " + str(num1) + " + " + str(num2) + " = " + str(total))
print ("So the sum of {} + {} = {}".format(num1, num2, total))   # {} is called place holder
print ("So the sum of {0} + {1} = {2}".format(num1, num2, total))   # using indexed place holder
print ("So the sum of {2} + {1} = {0}".format(total, num2, num1))   # using indexed place holder
print ("So the sum of {fnum} + {snum} = {tot}".format(fnum = num1, snum = num2, tot = total))   # using labeled place holder
print ("So the sum of {fnum} + {snum} = {tot}".format(tot = total, snum = num2, fnum = num1))   # using labeled place holder
print ("So the sum of %d + %d = %d"%(num1, num2, total))
print ("So the sum of %f + %d = %d"%(num1, num2, total))
print ("So the sum of %10.4f + %d = %d"%(num1, num2, total))
print (f"So the sum of {num1} + {num2} = {total}")

So the sum of 100 + 500 = 600
So the sum of 100 + 500 = 600
So the sum of 100 + 500 = 600
So the sum of 100 + 500 = 600
So the sum of 100 + 500 = 600
So the sum of 100 + 500 = 600
So the sum of 100 + 500 = 600
So the sum of 100 + 500 = 600
So the sum of 100.000000 + 500 = 600
So the sum of   100.0000 + 500 = 600
So the sum of 100 + 500 = 600

### Operators

In [28]:
# Arithmetic Operators: + - * / // % **
print (100 + 40)   # addition operation
print (100 - 40)   # subtraction operation
print (100 * 40)   # multiplication operation
print (100 / 40)   # float division operation
print (100 // 40)  # integer division operation
print (100 % 40)   # modulus operation (Remainder of the division)
print (100 ** 4)   # exponentiation operation

140
60
4000
2.5
2
20
100000000

In [34]:
var = 100
print (var, type(var))
var = 100.5
print (var, type(var))
var = "100"
print (var, type(var))
var = '100'
print (var, type(var))
var = True
print (var, type(var))
var = False
print (var, type(var))

100 <class 'int'>
100.5 <class 'float'>
100 <class 'str'>
100 <class 'str'>
True <class 'bool'>
False <class 'bool'>

In [38]:
# logical operator: and, or, not
print (False or False, False or True, True or False, True or True)
print (False and False, False and True, True and False, True and True)
print (not True, not False)

False True True True
False False False True
False True

In [40]:
# relational operators: > >= < <= != ==
print (100 < 100, 100 <= 100, 100 > 100, 100 >= 100, 100 != 100, 100 == 100)
print (100 < 200, 100 <= 200, 100 > 200, 100 >= 200, 100 != 200, 100 == 200)

False True False True False True
True True False False True False

In [41]:
# ternary operator
num = 100
result = "Even" if (num % 2 == 0) else "Odd"
print (num, result)

num = 101
result = "Even" if (num % 2 == 0) else "Odd"
print (num, result)

100 Even
101 Odd

In [42]:
# Operator types:
# unary operator: +100 -200 (Unary operator requires only one operand)
# binary operator: 100 + 200  100 - 200 (Binary operator requires two operands)
# ternary operator: True-part if (condition) else False-part (Ternary operator requires three operands)

### Looping and Iterations

In [1]:
for i in range(10):  # will loop for 0 to 9
    print ("Executing for i =", i)

Executing for i = 0
Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
Executing for i = 6
Executing for i = 7
Executing for i = 8
Executing for i = 9

In [2]:
for i in range(5, 10):  # will loop for 5 to 9
    print ("Executing for i =", i)

Executing for i = 5
Executing for i = 6
Executing for i = 7
Executing for i = 8
Executing for i = 9

In [3]:
for i in range(0, 10, 2):  # will loop for i = 0, 2, 4, 6, 8
    print ("Executing for i =", i)

Executing for i = 0
Executing for i = 2
Executing for i = 4
Executing for i = 6
Executing for i = 8

In [5]:
print ("Hello " * 10)
print ("Hello " * 10 + "Welcome " * 5)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello Welcome Welcome Welcome Welcome Welcome

In [ ]:
n = 6 (User's input)           
                i  .  *   
              -----------
.....*          1  5  1       (i, n)
....***         2  4  3  . => (n - i)
...*****        3  3  5
..*******       4  2  7  * => (2 * i - 1)
.*********      5  1  9
***********     6  0 11
              -----------

In [11]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print (" " * (n - i) + "*" * (2 * i - 1))

Please enter the number of layers:  9

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************

In [ ]:
n = 11 (User's ODD input)            m = (n + 1) // 2 = 6
                i  .  *   
              -----------
.....*          1  5  1       (i, m, n)
....***         2  4  3  . => (m - i)
...*****        3  3  5
..*******       4  2  7  * => (2 * i - 1)
.*********      5  1  9
***********   __6__0_11__
.*********      7  1  9
..*******       8  2  7  . => (i - m)
...*****        9  3  5
....***        10  4  3  * => (2 * (n - i) + 1)
.....*         11  5  1
              -----------

In [13]:
n = int(input("Please enter the ODD number of layers: "))
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m):
        print ("." * (i - m) + "*" * (2 * (n - i) + 1))
    else:
        print ("." * (m - i) + "*" * (2 * i - 1))

Please enter the ODD number of layers:  17

........*
.......***
......*****
.....*******
....*********
...***********
..*************
.***************
*****************
.***************
..*************
...***********
....*********
.....*******
......*****
.......***
........*

In [2]:
count = 1
while (count <= 10):
    print ("Executing for count =", count)
    count = count + 2
print ("End of the looping...")

Executing for count = 1
Executing for count = 3
Executing for count = 5
Executing for count = 7
Executing for count = 9
End of the looping...

### Conditional Statements

In [5]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2 and num1 > num3):
    print ("So the maximum number is", num1)
elif (num2 > num3):
    print ("So the maximum number is", num2)
else:
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first number:  300
Please enter the second number:  100
Please enter the third number:  200

So the maximum number is 300
End of the program...

In [6]:
for num in range(1, 21):
    if (num % 2 == 0):
        print ("EVEN number is", num)
    
print ("End of the program...")

EVEN number is 2
EVEN number is 4
EVEN number is 6
EVEN number is 8
EVEN number is 10
EVEN number is 12
EVEN number is 14
EVEN number is 16
EVEN number is 18
EVEN number is 20
End of the program...

In [7]:
print ("Visit Doctor...")   # 1 time
for day in range(1, 6):
    print ("Good morning...")   # 5 times
    for medi in range(1, 4):
        print (f"Day No.: {day} and Medicine No.: {medi}")   # 15 times
    print ("Good night...")   # 5 times
    print ("------------------------------------------------------------")   # 5 times
print ("Thanks to Doctor...")   # 1 time

Visit Doctor...
Good morning...
Day No.: 1 and Medicine No.: 1
Day No.: 1 and Medicine No.: 2
Day No.: 1 and Medicine No.: 3
Good night...
------------------------------------------------------------
Good morning...
Day No.: 2 and Medicine No.: 1
Day No.: 2 and Medicine No.: 2
Day No.: 2 and Medicine No.: 3
Good night...
------------------------------------------------------------
Good morning...
Day No.: 3 and Medicine No.: 1
Day No.: 3 and Medicine No.: 2
Day No.: 3 and Medicine No.: 3
Good night...
------------------------------------------------------------
Good morning...
Day No.: 4 and Medicine No.: 1
Day No.: 4 and Medicine No.: 2
Day No.: 4 and Medicine No.: 3
Good night...
------------------------------------------------------------
Good morning...
Day No.: 5 and Medicine No.: 1
Day No.: 5 and Medicine No.: 2
Day No.: 5 and Medicine No.: 3
Good night...
------------------------------------------------------------
Thanks to Doctor...

In [13]:
list1 = [100, 2.45, False, "Country", 20]
print (list1, len(list1), type(list1), id(list1))
tuple1 = (100, 2.45, False, "Country", 20)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
dict1 = {"apple":150, "banana":45, "mango":33, "banana":65}
print (dict1, len(dict1), type(dict1), id(dict1))
set1 = {100, 2.45, False, "Country", 20, 100, 2.45, False, "Country", 20}
print (set1, len(set1), type(set1), id(set1))
frozenset1 = frozenset([100, 2.45, False, "Country", 20, 100, 2.45, False, "Country", 20])
print (frozenset1, len(frozenset1), type(frozenset1), id(frozenset1))

[100, 2.45, False, 'Country', 20] 5 <class 'list'> 2643731833408
(100, 2.45, False, 'Country', 20) 5 <class 'tuple'> 2643716093488
{'apple': 150, 'banana': 65, 'mango': 33} 3 <class 'dict'> 2643731345344
{False, 2.45, 100, 20, 'Country'} 5 <class 'set'> 2643734380832
frozenset({False, 2.45, 100, 20, 'Country'}) 5 <class 'frozenset'> 2643734381056

### Python functions

In [14]:
def funct1():
    print ("Hello " * 5)
    
funct1()
funct1()
funct1()

Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello

In [15]:
def funct2(msg, times):
    print (msg * times)
    
funct2("Hello !!! ", 6)
funct2("Hi... ", 4)
funct2("Welcome ", 10)

Hello !!! Hello !!! Hello !!! Hello !!! Hello !!! Hello !!!
Hi... Hi... Hi... Hi...
Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome

In [20]:
def funct3(num1, num2):
    total = num1 + num2
    diff = num1 - num2
    prod = num1 * num2
    quot = num1 / num2
    remain = num1 % num2
    return total, diff, prod, quot, remain

tt, dd, pp, qq, rr = funct3(100, 40)
print (tt, dd, pp, qq, rr)
result = funct3(100, 40)
print (result, len(result), type(result), id(result))
print (result[0], result[1], result[2], result[3], result[4])

140 60 4000 2.5 20
(140, 60, 4000, 2.5, 20) 5 <class 'tuple'> 2643735273040
140 60 4000 2.5 20

In [10]:
# Function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):    # positional parameters
    print (f"So par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)   # positional arguments
funct4(100, 200)
funct4(100)
funct4()
funct4(par3 = 300, par1 = 100)

So par1 = 100, par2 = 200 and par3 = 300...
So par1 = 100, par2 = 200 and par3 = 333...
So par1 = 100, par2 = 222 and par3 = 333...
So par1 = 111, par2 = 222 and par3 = 333...
So par1 = 100, par2 = 222 and par3 = 300...

In [11]:
def funct5(par1, par2 = None):
    if (par2 == None):
        return par1 + par1
    else:
        return par1 + par2
    
result = funct5(100, 900)
print (result)
result = funct5(100)
print (result)

1000
200

In [14]:
# function with variable number of arguments
def funct6(*arg):
    print (arg, len(arg), type(arg))
    
funct6(1001, 'Jack', 'Developer', 34, 'Male', 5000)
funct6(1001, 'Jack', 'Developer', 34, 'Male')
funct6(1001, 'Jack', 'Developer', 34)

(1001, 'Jack', 'Developer', 34, 'Male', 5000) 6 <class 'tuple'>
(1001, 'Jack', 'Developer', 34, 'Male') 5 <class 'tuple'>
(1001, 'Jack', 'Developer', 34) 4 <class 'tuple'>

In [16]:
def funct7(**kwarg):    # key-word argument
    print (kwarg, len(kwarg), type(kwarg))
    
funct7(empid = 1001, empname = 'Jack', empdesig = 'Developer', empage = 34, empgender = 'Male', empsal = 5000)
funct7(empid = 1001, empname = 'Jack', empdesig = 'Developer', empage = 34, empgender = 'Male')
funct7(empid = 1001, empname = 'Jack', empdesig = 'Developer', empage = 34)

{'empid': 1001, 'empname': 'Jack', 'empdesig': 'Developer', 'empage': 34, 'empgender': 'Male', 'empsal': 5000} 6 <class 'dict'>
{'empid': 1001, 'empname': 'Jack', 'empdesig': 'Developer', 'empage': 34, 'empgender': 'Male'} 5 <class 'dict'>
{'empid': 1001, 'empname': 'Jack', 'empdesig': 'Developer', 'empage': 34} 4 <class 'dict'>

In [19]:
# lambda function
mysquare = lambda num: num * num

n = 10
print (f"n = {n} and n * n = {mysquare(n)}...")
n = 12
print (f"n = {n} and n * n = {mysquare(n)}...")
print (type(mysquare))

n = 10 and n * n = 100...
n = 12 and n * n = 144...
<class 'function'>

In [21]:
myaddition = lambda num1, num2: num1 + num2

n1 = 10; n2 = 30
print (f"n1 = {n1}, n2 = {n2} and {n1} + {n2} = {myaddition(n1, n2)}...")
n1 = 100; n2 = 300
print (f"n1 = {n1}, n2 = {n2} and {n1} + {n2} = {myaddition(n1, n2)}...")
print (type(myaddition))

n1 = 10, n2 = 30 and 10 + 30 = 40...
n1 = 100, n2 = 300 and 100 + 300 = 400...
<class 'function'>

In [22]:
# String Processing, it consists of alpha-numeric characters and special characters
mystr = "1/2 ABCD Road"
print (mystr, len(mystr), type(mystr), id(mystr))

1/2 ABCD Road 13 <class 'str'> 1647903490096

In [25]:
mystr = "oxForD uniVErsItY"
print (mystr, len(mystr), type(mystr), id(mystr))
mystr1 = mystr.upper()
print (mystr1, len(mystr1), type(mystr1), id(mystr1))
mystr1 = mystr.lower()
print (mystr1, len(mystr1), type(mystr1), id(mystr1))
mystr1 = mystr.title()
print (mystr1, len(mystr1), type(mystr1), id(mystr1))
mystr1 = mystr.capitalize()
print (mystr1, len(mystr1), type(mystr1), id(mystr1))

oxForD uniVErsItY 17 <class 'str'> 1647895941488
OXFORD UNIVERSITY 17 <class 'str'> 1647907490352
oxford university 17 <class 'str'> 1647904934928
Oxford University 17 <class 'str'> 1647904935008
Oxford university 17 <class 'str'> 1647904935088

In [32]:
# L2R    0        9
mystr = "university"
# R2L  -10       -1
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[5], mystr[-2])   # indexing
print (mystr[3:6], mystr[-7:-4], mystr[3:-4], mystr[-7:6])   # slicing

university 10 <class 'str'> 1647895839216
v r t
ver ver ver ver

In [ ]:
# dealing with the list
list1 = [100, 2.45, False, "Country", 20]
print (list1, len(list1), type(list1), id(list1))

In [39]:
list1 = [100, 200, 300, 400, 500]
print (list1, len(list1))
list1.append(700)
print (list1, len(list1))
list1.insert(4, 850)
print (list1, len(list1))
list1.remove(850)
print (list1, len(list1))
list1[2] = 333
print (list1, len(list1))

[100, 200, 300, 400, 500] 5
[100, 200, 300, 400, 500, 700] 6
[100, 200, 300, 400, 850, 500, 700] 7
[100, 200, 300, 400, 500, 700] 6
[100, 200, 333, 400, 500, 700] 6

In [ ]:
# dealing with the tuple
tuple1 = (100, 2.45, False, "Country", 20)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))

In [40]:
# dealing with dictionary
dict1 = {"apple":150, "banana":45, "mango":33, "banana":65}
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 150, 'banana': 65, 'mango': 33} 3 <class 'dict'> 1647897466752

In [45]:
# reading value against the key from the dictionary
print (dict1.get("banana"))
print (dict1.get("Banana"))
print (dict1.get("Banana", "Not found"))

65
None
Not found

In [51]:
# insert into the dictionary
dict1 = {"apple":150, "banana":45, "banana":65}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1['mango'] = 99
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 150, 'banana': 65} 2 <class 'dict'> 1647896069632
{'apple': 150, 'banana': 65, 'mango': 99} 3 <class 'dict'> 1647896069632

In [50]:
# update onto the dictionary
dict1['apple'] = 550
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 550, 'banana': 65, 'mango': 33} 3 <class 'dict'> 1647897426176

In [55]:
# delete from the dictionary
dict1 = {"apple":150, "banana":45, "mango":450}
print (dict1, len(dict1), type(dict1), id(dict1))
dict1.pop("banana")
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 150, 'banana': 45, 'mango': 450} 3 <class 'dict'> 1647898483520
{'apple': 150, 'mango': 450} 2 <class 'dict'> 1647898483520

In [56]:
# dealing with set
set1 = {300, 200, 400, 100, 600}
print (set1, len(set1), type(set1), id(set1))

{100, 200, 300, 400, 600} 5 <class 'set'> 1647904627392

In [57]:
# insert operation on a set
set1 = {300, 200, 400, 100, 600}
print (set1, len(set1), type(set1), id(set1))
set1.add(900)
set1.add(320)
print (set1, len(set1), type(set1), id(set1))

{100, 200, 300, 400, 600} 5 <class 'set'> 1647904628512
{320, 100, 900, 200, 300, 400, 600} 7 <class 'set'> 1647904628512

In [60]:
# delete operation on a set
set1 = {300, 200, 400, 100, 600}
print (set1, len(set1), type(set1), id(set1))
set1.remove(200)
set1.remove(100)
print (set1, len(set1), type(set1), id(set1))
print (set1.pop())
print (set1.pop())
print (set1, len(set1), type(set1), id(set1))

{100, 200, 300, 400, 600} 5 <class 'set'> 1647901668960
{300, 400, 600} 3 <class 'set'> 1647901668960
300
400
{600} 1 <class 'set'> 1647901668960

In [61]:
# delete operation on a set
set1 = {300, 200, 400, 100, 600}
print (set1, len(set1), type(set1), id(set1))
set1.remove(200)
set1.add(800)
print (set1, len(set1), type(set1), id(set1))

{100, 200, 300, 400, 600} 5 <class 'set'> 1647901670976
{800, 100, 300, 400, 600} 5 <class 'set'> 1647901670976

In [33]:
# dealing with frozen-set
frozenset1 = frozenset([100, 2.45, False, "Country", 20, 100, 2.45, False, "Country", 20])
print (frozenset1, len(frozenset1), type(frozenset1), id(frozenset1))

frozenset({False, 2.45, 100, 20, 'Country'}) 5 <class 'frozenset'> 1647901540864